* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Mountains of Christmas',
cursive;
font-family: 'Poppins',
sans-serif; */

html {
    font-size: 10px;
    overflow-x: hidden;
}



section.logo {
    position: relative;
    background-image: url(img/background_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    overflow-x: hidden;
    right: 0px;
    transition: .5s linear;
}

section.logo.active {
    right: -150px;
}

section.logo .wrap_logo {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    height: 100vh;
    overflow-x: hidden;
    height: 70vh;
    z-index: 0;

}

section.logo .menu_burger {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    color: #B5B0A7;
    z-index: 2;
    cursor: pointer;
}

.menu_burger.active {
    display: none;
}

section.logo h1 {
    position: absolute;
    top: 20%;
    left: 0%;
    font-size: 5rem;
    width: 100%;
    text-align: center;
    font-family: 'Mountains of Christmas';
    color: #008000;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
    filter: drop-shadow(1px 1px 1px #008000);
    transform: scale(0);
    animation: 2s linear header both;
}

h1 span:nth-child(even) {
    color: #99001C;
    filter: drop-shadow(1px 1px 1px #99001C);
}

img {
    width: 100%;
    height: 100%;
}

div.santa {
    position: absolute;
    top: 20px;
    right: -150px;
    width: 120px;
    filter: blur(.5px);
}

div.santa.move {
    animation: 5s move_santa linear;
}

@keyframes move_santa {
    0% {
        right: -150px;
        top: 20px;
    }

    100% {
        right: 100%;
        top: 80px;

    }
}

@keyframes header {
    0% {
        transform: scale(0);
    }


    100% {
        transform: scale(1);
    }
}

img.snowman,
img.gift {
    display: none;
}


aside.menu.active {
    position: absolute;
    top: 0;
    left: 0;
}

aside.menu {
    position: absolute;
    top: 0;
    left: -150px;
    background: #3a7bd5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a6073, #3a7bd5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 70vh;
    width: 150px;
    transition: .5s linear;
}

aside.menu .icon_remove {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    color: #B5B0A7;
    cursor: pointer;
}

aside.menu ul {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


aside.menu ul li {
    list-style: none;
    padding: 20px 0;
}

aside.menu ul li a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    transition: .3s;
}

aside.menu ul li a:hover {
    color: #99001C;
}


/* SECTION WELECOME */


section.welcome {
    background: #3a7bd5;
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);
    background: linear-gradient(to right, #3a6073, #3a7bd5);
    height: 85vh;
}

.wrap_welcome {
    display: flex;
    flex-direction: column;
    height: 85vh;
}

section.welcome h2 {
    font-size: 5rem;
    color: white;
    padding: 40px 20px 20px 20px;
    font-family: 'Mountains of Christmas';
    letter-spacing: 1px;
    opacity: 0;
    animation: 1s linear showPandH2 both;
}

@keyframes showPandH2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

section.welcome p {
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 10px 20px 20px 20px;
    animation: 1s linear showPandH2 both;
}

.img_santa {
    align-self: center;
    transform: scale(0);
    transition: 1s;
    width: 250px;
}

.img_santa.active {
    transform: scale(1);
}

.img_santa.active.move {
    animation: 6s linear infinite increaseSanta;
}

@keyframes increaseSanta {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@media (min-width:576px) {
    section.logo .menu_burger {
        width: 25px;
    }

    section.logo h1 {
        font-size: 6rem;
    }

    div.santa {
        width: 130px;
    }
}

@media (min-width:576px) and (orientation: landscape) {
    section.logo {
        height: 100vh;
    }

    section.logo .wrap_logo {
        height: 100vh;
    }

    /* AISDE MENU */

    aside.menu {
        height: 100vh;
        width: 250px;
        left: -250px;
        transition: .5s linear;
    }

    aside.menu ul {
        padding: 10px 0;
    }

    aside.menu ul li {
        padding: 15px 0;
    }

    section.logo.active {
        right: -250px;
    }


}

@media (min-width:768px) {

    section.logo .menu_burger {
        width: 40px;
    }

    section.logo h1 {
        font-size: 6.5rem;
    }

    div.santa {
        width: 140px;
    }

    div.snowman {
        position: absolute;
        bottom: 50px;
        left: 10px;
        width: 130px;
        transform: scale(0);
        animation: 1s 1s linear infinite move_snowman, 1s show_thing linear;
    }

    img.snowman {
        display: block;

    }

    /* 
    ASIDE MENU */

    aside.menu {
        height: 70vh;
        width: 200px;
        left: -200px;
        transition: .5s linear;
    }

    aside.menu ul {
        padding: 50px 0;
    }

    aside.menu ul li {
        padding: 20px 0;
    }

    section.logo.active {
        right: -200px;
    }

    @keyframes move_snowman {
        0% {
            transform: rotateZ(0);
        }

        25% {
            transform: rotateZ(2deg);
        }


        50% {
            transform: rotateZ(0);
        }

        75% {
            transform: rotateZ(-2deg);
        }

        100% {
            transform: rotateZ(0);
        }
    }

    @keyframes show_thing {
        0% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }


    div.gift {
        position: absolute;
        bottom: 50px;
        right: 30px;
        width: 70px;
        animation: .4s .4s linear infinite move_gift, 1s show_thing linear;
    }

    img.gift {
        display: block;
    }

    @keyframes move_gift {
        0% {
            transform: translate(0) rotate(0);
        }

        25% {
            transform: translate(1px, 1px) rotate(2deg);
        }

        50% {
            transform: translate(0) rotate(0);
        }

        75% {
            transform: translate(-1px, -1px) rotate(2deg);
        }

        100% {
            transform: translate(0) rotate(0);
        }

    }


}


@media (min-width:992px) {
    section.logo h1 {
        font-size: 7rem;
    }

    /* 
    ASIDE MENU */

    aside.menu {
        height: 100vh;
        width: 300px;
        left: -300px;
    }

    aside.menu ul {
        padding: 50px 0;
    }

    aside.menu ul li {
        padding: 20px 0;
    }

    section.logo.active {
        right: -300px;
    }

    aside.menu ul li a {
        font-size: 1.7rem;
    }
}


@media (min-width:1200px) {

    section.logo {
        background-image: url(img/background_logo_big.png);
        height: 100vh;
    }

    section.logo h1 {
        font-size: 8rem;
    }

    section.logo .menu_burger {
        width: 50px;
    }

    div.santa {
        top: 50px;
        right: -250px;
        width: 120px;
    }

    @keyframes move_santa {
        0% {
            right: -150px;
            top: 20px;
        }

        100% {
            right: 100%;
            top: 130px;

        }
    }


    div.santa {
        width: 160px;
    }

    div.snowman {
        width: 180px;
        bottom: 10px;
        left: 50px;
    }

    div.gift {
        width: 100px;
        bottom: 10px;
        right: 50px;
    }


}


@media (min-width:1400px) {

    section.logo h1 {
        font-size: 11rem;
    }

    section.logo .menu_burger {
        width: 50px;
        left: 50px;
        top: 30px;
    }

    div.santa {
        top: 30px;
        right: -250px;
        width: 180px;
    }

    @keyframes move_santa {
        0% {
            right: -150px;
        }

        100% {
            right: 100%;
            top: 150px;

        }
    }

    div.snowman {
        width: 230px;
        bottom: 10px;
        left: 50px;
    }

    div.gift {
        width: 150px;
        bottom: 10px;
        right: 50px;
    }


    /* 
    ASIDE MENU */

    aside.menu {
        width: 400px;
        left: -400px;
    }

    section.logo.active {
        right: -400px;
    }

    aside.menu ul li a {
        font-size: 1.8rem;
    }


}