* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Mountains of Christmas',
cursive;
font-family: 'Poppins',
sans-serif; */

html {
    font-size: 10px;
    overflow-x: hidden;
    font-family: 'Poppins',
        sans-serif;
}



section.logo {
    position: relative;
    background-image: url(img/background_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    overflow-x: hidden;
    right: 0px;
    transition: .5s linear;
}

section.logo.active {
    right: -150px;
}

section.logo .wrap_logo {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    height: 100vh;
    overflow-x: hidden;
    height: 70vh;
    z-index: 0;

}

section.logo .menu_burger {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    color: #B5B0A7;
    z-index: 2;
    cursor: pointer;
}

.menu_burger.active {
    display: none;
}

section.logo h1 {
    position: absolute;
    top: 20%;
    left: 0%;
    font-size: 5rem;
    width: 100%;
    text-align: center;
    font-family: 'Mountains of Christmas';
    color: #008000;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
    filter: drop-shadow(1px 1px 1px #008000);
    transform: scale(0);
    animation: 2s linear header both;
}

h1 span:nth-child(even) {
    color: #99001C;
    filter: drop-shadow(1px 1px 1px #99001C);
}

img {
    width: 100%;
    height: 100%;
}

div.santa {
    position: absolute;
    top: 20px;
    right: -150px;
    width: 120px;
    filter: blur(.5px);
}

div.santa.move {
    animation: 5s move_santa linear;
}

@keyframes move_santa {
    0% {
        right: -150px;
        top: 20px;
    }

    100% {
        right: 100%;
        top: 80px;

    }
}

@keyframes header {
    0% {
        transform: scale(0);
    }


    100% {
        transform: scale(1);
    }
}

img.snowman,
img.gift {
    display: none;
}


aside.menu.active {
    position: absolute;
    top: 0;
    left: 0;
}

aside.menu {
    position: absolute;
    top: 0;
    left: -150px;
    background: #3a7bd5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a6073, #3a7bd5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 70vh;
    width: 150px;
    transition: .5s linear;
}

aside.menu .icon_remove {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    color: #B5B0A7;
    cursor: pointer;
}

aside.menu ul {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


aside.menu ul li {
    list-style: none;
    padding: 20px 0;
}

aside.menu ul li a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    transition: .3s;
}

aside.menu ul li a:hover {
    color: #99001C;
}


/* SECTION WELECOME */


section.welcome {
    background: #3a7bd5;
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);
    background: linear-gradient(to right, #3a6073, #3a7bd5);
    height: 80vh;
}

.wrap_welcome {
    display: flex;
    flex-direction: column;
    height: 80vh;
    max-width: 1400px;
    margin: 0 auto;
}

section.welcome h2 {
    font-size: 5rem;
    color: white;
    padding: 40px 20px 20px 20px;
    font-family: 'Mountains of Christmas';
    letter-spacing: 1px;
    opacity: 0;
    animation: 1s linear showPandH2 both;
}

@keyframes showPandH2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

section.welcome p {
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 10px 20px 20px 20px;
    animation: 1s linear showPandH2 both;
}

.img_santa {
    align-self: center;
    transform: scale(0);
    transition: 1s;
    width: 250px;
    margin-top: 30px;
}

.wrap_img_santa {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_santa.active {
    transform: scale(1);
}

.img_santa.active.move {
    animation: 6s linear infinite increaseSanta;
}


/* SECTION EVENTS */

section.events {
    background-image: url(img/north_star_welcome.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
    padding: 30px 0;
    overflow: hidden;

}

.wrap_events {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;

}

.wrap_events h2 {
    font-size: 3rem;
    font-family: 'Mountains of Christmas';
    color: white;
    padding: 20px 10px;
    position: relative;
    z-index: 1;
}


.wrap_events p {
    color: white;
    font-size: 1.3rem;
    padding: 10px 30px 10px 10px;
    position: relative;
    z-index: 1;
}


.wrap_events ul {
    margin-top: 30px;
}


.wrap_events li {
    display: flex;
    padding: 10px 10px;
}

.wrap_events .event {
    display: flex;
    justify-content: center;
    align-items: center;
}


section.events img {
    height: 100%;
    width: 100%;
}

section.events .wrap_img {
    height: 30px;
    width: 30px;
    transform: scale(0);

}

section .wrap_img.show {
    animation: 3s linear show_snowflake both;
}


@keyframes show_snowflake {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}


.wrap_events .wrap_christmas_bomb {
    position: absolute;
    top: -500px;
    right: -60px;
    width: 250px;
    z-index: 0;

}

.wrap_events .wrap_christmas_bomb.show {
    animation: 3s show_bubble both;
}

@keyframes show_bubble {
    0% {
        top: -500px;
    }

    100% {
        top: -45px;
    }
}

.wrap_events .wrap_christmas_bomb span {
    position: absolute;
    left: 34%;
    bottom: 41%;
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}


/* SECTION GIFTS */


section.gifts {
    background: #3a7bd5;
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);
    background: linear-gradient(to right, #3a6073, #3a7bd5);
    height: 100vh;

}

.wrap_gifts {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100vh;
    filter: blur(0) brightness(1);
}

.wrap_gifts h1 {
    font-size: 3.5rem;
    font-family: 'Mountains of Christmas';
    color: white;
    padding: 30px 10px;
    letter-spacing: 1px;
    align-self: flex-start;
    margin-bottom: 20px;
}

.wrap_gifts .gift {
    position: relative;
    width: 130px;
    height: 130px;
    margin: 30px;
    transition: 1s;
}

.wrap_gifts .first.active {
    transform: scale(1.5) rotate(360deg);
}

.wrap_gifts .second.active {
    transform: scale(1.5) rotate(360deg);
}

.wrap_gifts .third.active {
    transform: scale(1.5) rotate(360deg);
}


.wrap_gifts aside.giftAll {
    position: absolute;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .wrap_gifts aside.gift_2 {
    position: absolute;
    z-index: -2;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.wrap_gifts aside.giftAll .wrap_img {
    margin-top: 150px;
    width: 300px;
    opacity: 0;
}

.wrap_gifts aside.giftAll .wrap_img.active {
    animation: 1s 2s linear showIconClose both;
}

.wrap_gifts aside.giftAll p {
    margin-top: 15px;
    font-size: 2rem;
    color: white;
    padding: 10px;
    opacity: 0;
}

.wrap_gifts aside.giftAll p.active {
    animation: 1s 2s linear showIconClose both;
}

.wrap_gifts aside.giftAll button {
    font-size: 2rem;
    padding: 10px 25px;
    margin-top: 50px;
    border: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #D32F2F;
    color: white;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
    opacity: 0;
}

.wrap_gifts aside.giftAll button.active {
    animation: 1s 2s linear showIconClose both;
}

.wrap_gifts aside.giftAll button:hover {
    background-color: #B71C1C;
}


.wrap_gifts aside.giftAll.active.show {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);
    background: linear-gradient(to right, #3a6073, #3a7bd5);
    z-index: 2;
}

@keyframes showIconClose {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.wrap_gifts aside.giftAll.active.show {
    animation: 1s 1s showAside linear both;
}

@keyframes showAside {
    0% {
        width: 0;
        height: 0;
    }

    100% {
        width: 100%;
        height: 100vh;
    }
}

section.XD {
    height: 200vh;
}

@keyframes increaseSanta {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@media (min-width:576px) {
    section.logo .menu_burger {
        width: 25px;
    }

    section.logo h1 {
        font-size: 6rem;
    }

    div.santa {
        width: 130px;
    }

    /* SECTION WELCOME */


    section.welcome h2 {
        font-size: 6rem;
    }


    section.welcome p {
        font-size: 1.5rem;
    }

    .img_santa {

        width: 300px;
    }

    /* SECTION EVENTS */

    .wrap_events h2 {
        font-size: 4rem;
    }

    .wrap_events p {
        font-size: 1.5rem;
        padding: 10px 80px 10px 10px;
    }

    .wrap_events ul {
        margin-top: 30px;
    }

    .wrap_events .wrap_christmas_bomb {
        top: -500px;
        right: -10px;
        width: 280px;

    }

    .wrap_events .wrap_christmas_bomb.show {
        animation: 3s show_bubble both;
    }

    @keyframes show_bubble {
        0% {
            top: -500px;
        }

        100% {
            top: -95px;
        }
    }

    .wrap_events .wrap_christmas_bomb span {
        left: 36%;
        font-size: 1.5rem;
    }

}

@media (min-width:576px) and (orientation: landscape) {
    section.logo {
        height: 100vh;
    }

    section.logo .wrap_logo {
        height: 100vh;
    }

    /* AISDE MENU */

    aside.menu {
        height: 100vh;
        width: 250px;
        left: -250px;
        transition: .5s linear;
    }

    aside.menu ul {
        padding: 10px 0;
    }

    aside.menu ul li {
        padding: 15px 0;
    }

    section.logo.active {
        right: -250px;
    }

    /* SECTION WELCOME */


    section.welcome {
        height: 155vh;
    }

    .wrap_welcome {
        height: 155vh;
    }

    /* SECTION EVENTS */

    section.events {
        height: 150vh;
    }


}

@media (min-width:768px) {

    section.logo .menu_burger {
        width: 40px;
    }

    section.logo h1 {
        font-size: 6.5rem;
    }

    div.santa {
        width: 140px;
    }

    div.snowman {
        position: absolute;
        bottom: 50px;
        left: 10px;
        width: 130px;
        transform: scale(0);
        animation: 1s 1s linear infinite move_snowman, 1s show_thing linear;
    }

    img.snowman {
        display: block;

    }

    /* 
    ASIDE MENU */

    aside.menu {
        height: 70vh;
        width: 200px;
        left: -200px;
        transition: .5s linear;
    }

    aside.menu ul {
        padding: 50px 0;
    }

    aside.menu ul li {
        padding: 20px 0;
    }

    section.logo.active {
        right: -200px;
    }

    @keyframes move_snowman {
        0% {
            transform: rotateZ(0);
        }

        25% {
            transform: rotateZ(2deg);
        }


        50% {
            transform: rotateZ(0);
        }

        75% {
            transform: rotateZ(-2deg);
        }

        100% {
            transform: rotateZ(0);
        }
    }

    @keyframes show_thing {
        0% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }


    div.gift {
        position: absolute;
        bottom: 50px;
        right: 30px;
        width: 70px;
        animation: .4s .4s linear infinite move_gift, 1s show_thing linear;
    }

    img.gift {
        display: block;
    }

    @keyframes move_gift {
        0% {
            transform: translate(0) rotate(0);
        }

        25% {
            transform: translate(1px, 1px) rotate(2deg);
        }

        50% {
            transform: translate(0) rotate(0);
        }

        75% {
            transform: translate(-1px, -1px) rotate(2deg);
        }

        100% {
            transform: translate(0) rotate(0);
        }

    }


    /* SECTION WELCOME */


    section.welcome {
        height: 60vh;

    }

    .wrap_welcome {
        flex-direction: row;
        height: 60vh;
        padding: 40px 0;
    }

    section.welcome h2 {
        font-size: 6.5rem;
    }


    section.welcome p {
        font-size: 1.5rem;
    }

    .wrap_txt {
        flex-basis: 70%;
    }

    .img_santa {
        margin-top: 50px;
        justify-self: center;
        align-self: center;
    }


    /* SECTION EVENTS */

    .wrap_events h2 {
        font-size: 4.5rem;
        padding-right: 30%;
    }

    .wrap_events p {
        font-size: 1.7rem;
        padding: 10px 30% 10px 10px;
    }

    .wrap_events ul {
        margin-top: 30px;
    }

    .wrap_events .wrap_christmas_bomb {
        top: -500px;
        right: 50px;
        width: 320px;

    }

    .wrap_events .wrap_christmas_bomb.show {
        animation: 3s show_bubble both;
    }

    section.events .wrap_img {
        height: 35px;
        width: 35px;
    }

    @keyframes show_bubble {
        0% {
            top: -500px;
        }

        100% {
            top: -185px;
        }
    }

    .wrap_events .wrap_christmas_bomb span {
        left: 36%;
        font-size: 1.6rem;
    }



}


@media (min-width:992px) {
    section.logo h1 {
        font-size: 7rem;
    }

    /* 
    ASIDE MENU */

    aside.menu {
        height: 100vh;
        width: 300px;
        left: -300px;
    }

    aside.menu ul {
        padding: 50px 0;
    }

    aside.menu ul li {
        padding: 20px 0;
    }

    section.logo.active {
        right: -300px;
    }

    aside.menu ul li a {
        font-size: 1.7rem;
    }

    /* SECTION WELCOME */


    section.welcome {
        height: 60vh;

    }

    .wrap_welcome {
        flex-direction: row;
        height: 60vh;
        padding: 40px 0;
    }

    section.welcome h2 {
        font-size: 6.5rem;
    }


    section.welcome p {
        font-size: 1.5rem;
    }

    .wrap_txt {
        flex-basis: 70%;
    }

    .img_santa {
        margin-top: 50px;
        flex-basis: 30%;
        justify-self: center;
        align-self: center;
    }

    /* SECTION WELCOME */

    section.welcome p {
        font-size: 1.6rem;
    }

    .wrap_txt {
        flex-basis: 50%;
    }

    .wrap_img_santa {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 50%;
    }

    .img_santa {
        margin-top: 50px;
        flex-basis: 400px;
        justify-self: center;
        align-self: center;
    }

    /* SECTION EVENTS */

    section.events {
        height: 70vh;
        padding: 30px 10px;
    }


    .wrap_events h2 {
        font-size: 5rem;
        padding-right: 30%;
    }

    .wrap_events p {
        font-size: 1.7rem;
        padding: 10px 40% 10px 10px;
    }

    .wrap_events ul {
        margin-top: 30px;
    }

    .wrap_events .wrap_christmas_bomb {
        top: -900px;
        right: 0px;
        width: 500px;

    }


    @keyframes show_bubble {
        0% {
            top: -900px;
        }

        100% {
            top: -505px;
        }
    }

    .wrap_events .wrap_christmas_bomb span {
        font-size: 2.5rem;
    }
}


@media (min-width:1200px) {

    section.logo {
        background-image: url(img/background_logo_big.png);
        height: 100vh;
    }

    section.logo h1 {
        font-size: 8rem;
    }

    section.logo .menu_burger {
        width: 50px;
    }

    div.santa {
        top: 50px;
        right: -250px;
        width: 120px;
    }

    @keyframes move_santa {
        0% {
            right: -150px;
            top: 20px;
        }

        100% {
            right: 100%;
            top: 130px;

        }
    }


    div.santa {
        width: 160px;
    }

    div.snowman {
        width: 180px;
        bottom: 10px;
        left: 50px;
    }

    div.gift {
        width: 100px;
        bottom: 10px;
        right: 50px;
    }


    /* SECTION WELCOME */
    section.welcome {
        padding-left: 30px;
    }

    section.welcome h2 {
        font-size: 8rem;
    }


    section.welcome p {
        font-size: 1.8rem;
    }

    .wrap_txt {
        flex-basis: 50%;
    }

    .wrap_img_santa {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 50%;
        margin-left: 100px;
    }

    .img_santa {
        margin-top: 30px;
        flex-basis: 450px;
        justify-self: center;
        align-self: center;
        margin-left: 100px;
    }


    /* SECTION EVENTS */

    section.events {
        height: 90vh;
        padding: 30px 40px;
    }


    .wrap_events h2 {
        font-size: 6rem;
        padding-right: 30%;
    }

    .wrap_events p {
        font-size: 1.9rem;
        padding: 10px 40% 10px 10px;
    }


    .wrap_events .wrap_christmas_bomb {
        top: -900px;
        right: 0px;
        width: 500px;
    }

    @keyframes show_bubble {
        0% {
            top: -900px;
        }

        100% {
            top: -355px;
        }
    }

}


@media (min-width:1400px) {

    section.logo h1 {
        font-size: 11rem;
    }

    section.logo .menu_burger {
        width: 50px;
        left: 50px;
        top: 30px;
    }

    div.santa {
        top: 30px;
        right: -250px;
        width: 180px;
    }

    @keyframes move_santa {
        0% {
            right: -150px;
        }

        100% {
            right: 100%;
            top: 150px;

        }
    }

    div.snowman {
        width: 230px;
        bottom: 10px;
        left: 50px;
    }

    div.gift {
        width: 150px;
        bottom: 10px;
        right: 50px;
    }


    /* 
    ASIDE MENU */

    aside.menu {
        width: 400px;
        left: -400px;
    }

    section.logo.active {
        right: -400px;
    }

    aside.menu ul li a {
        font-size: 1.8rem;
    }


    /* SECTION WELCOME */
    section.welcome {
        padding-left: 30px;
        height: 70vh;
    }

    .wrap_welcome {
        height: 70vh;
    }

    section.welcome h2 {
        font-size: 10rem;
    }


    section.welcome p {
        font-size: 2.1rem;
        line-height: 35px;
    }

    .wrap_img_santa {
        flex-basis: 50%;
        margin-left: 0;
    }

    .img_santa {
        margin-top: 30px;
        flex-basis: 650px;
    }

    /* SECTION EVENTS */

    section.events {
        height: 90vh;
        padding: 150px 40px 30px 40px;
    }


    .wrap_events h2 {
        font-size: 8rem;
        padding-right: 30%;
    }

    .wrap_events p {
        font-size: 2.3rem;
        padding: 10px 50% 10px 10px;
    }

    .wrap_events .wrap_christmas_bomb {
        top: -1500px;
        right: -250px;
        width: 700px;
    }

    @keyframes show_bubble {
        0% {
            top: -1500px;
        }

        100% {
            top: -705px;
        }
    }

    .wrap_events .wrap_christmas_bomb span {
        left: 36%;
        font-size: 3.5rem;
    }





}